<p id="notice"><%= notice %></p>

<p>
<strong>Title:</strong>
<% if @project.nil? %>
  No project found.
<% else %>
  <%= @project.title %>
<% end %>
</p>

<p>
  <strong>Description:</strong>
  <% if @project.nil? %>
    No project found.
  <% elsif @project.description.nil? %>
    No description found.
  <% else %>
    <%= @project.description %>
  <% end %>
</p>

<% if @project.nil? %>
  No project found.
<% else %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>

<%= link_to 'Back', projects_path %>
